__pycache__/
*.py[cod]

.current_task_url
.current_task_title

output/
logs/
temp_chunks/
temp_sub*.srt
temp_download.m4a
temp_download.m4a.part
temp_download.*
bilibili.txt
*.part
*.opus
*.opus.txt

keys.config
Bilibili-Obsidian-Clipper-main/

.DS_Store
Thumbs.db
